# Importing Libraries, Functions, and Data Frames

In [20]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
%run -i 'functions/clean_script_html.py'
%run -i 'functions/omdb_get.py'

In [2]:
building_df = pd.read_csv('/Users/will4856/Downloads/building_csv.csv', index_col = 'Unnamed: 0')
building_df

,title,year,production_budget,domestic_gross,worldwide_gross,profit,ROI,success,script
0,Pirates of the Caribbean: On Stranger Tides,2011,379000000,241063875,1045663875,666663875,1.76,1,Sub.Re-Edit.by. :: npdv.indoheroes[at]gmail.co...
1,Avengers: Age of Ultron,2015,365000000,459005868,1396099202,1031099202,2.82,1,(DISTANT EXPLOSION) STRUCKER ON PA: Report to ...
5,Justice League,2017,300000000,229024295,655945209,355945209,1.19,0,"There he is! Oh, sorry. Superman, Superman, ca..."
7,Spectre,2015,300000000,200074175,879620923,579620923,1.93,1,"Where are you going? I won't be long. Welcome,..."
8,Batman v Superman: Dawn of Justice,2016,263000000,330360194,872395091,609395091,2.32,1,There was a time above. A time before. There w...
...,...,...,...,...,...,...,...,...,...
5789,Tupac Resurrection,2015,300000,7718961,7808524,7508524,25.03,1,"[I got shot., I always felt like I'd be shot..."
5865,The Stewardesses,2015,200000,13500000,25000000,24800000,124.00,1,[] [] [] [] [] [] [] [] [] [] [] [] [] [] [] [...
5866,Mad Max,2015,200000,8750000,99750000,99550000,497.75,1,"[1, My name is Max., My world is fire and bl..."
5899,She's Gotta Have It,2010,175000,7137502,7137502,6962502,39.79,1,"[I want you to know the only, reason I'm cons..."
5909,Once,2012,150000,9445857,23151277,23001277,153.34,1,"[(drumroll), (rousing orchestral, fanfare play..."

# Script Cleaning

##### Converted all scripts to string format

In [3]:
building_df['script'] = building_df['script'].map(lambda x: str(x))
building_df

,title,year,production_budget,domestic_gross,worldwide_gross,profit,ROI,success,script
0,Pirates of the Caribbean: On Stranger Tides,2011,379000000,241063875,1045663875,666663875,1.76,1,Sub.Re-Edit.by. :: npdv.indoheroes[at]gmail.co...
1,Avengers: Age of Ultron,2015,365000000,459005868,1396099202,1031099202,2.82,1,(DISTANT EXPLOSION) STRUCKER ON PA: Report to ...
5,Justice League,2017,300000000,229024295,655945209,355945209,1.19,0,"There he is! Oh, sorry. Superman, Superman, ca..."
7,Spectre,2015,300000000,200074175,879620923,579620923,1.93,1,"Where are you going? I won't be long. Welcome,..."
8,Batman v Superman: Dawn of Justice,2016,263000000,330360194,872395091,609395091,2.32,1,There was a time above. A time before. There w...
...,...,...,...,...,...,...,...,...,...
5789,Tupac Resurrection,2015,300000,7718961,7808524,7508524,25.03,1,"[I got shot., I always felt like I'd be shot..."
5865,The Stewardesses,2015,200000,13500000,25000000,24800000,124.00,1,[] [] [] [] [] [] [] [] [] [] [] [] [] [] [] [...
5866,Mad Max,2015,200000,8750000,99750000,99550000,497.75,1,"[1, My name is Max., My world is fire and bl..."
5899,She's Gotta Have It,2010,175000,7137502,7137502,6962502,39.79,1,"[I want you to know the only, reason I'm cons..."
5909,Once,2012,150000,9445857,23151277,23001277,153.34,1,"[(drumroll), (rousing orchestral, fanfare play..."

## Remove HTML tags

##### Made list with Beautiful Soup to iterate through of HTML stopwords to remove from scripts in Data Frame.

In [4]:
html_tag_list = []
html_tags_cleaned = []
html_page = requests.get('https://www.w3schools.com/TAGS/default.asp')
soup = BeautifulSoup(html_page.content, 'html.parser')
html_tags = list(soup.findAll('td'))
html_tags = html_tags[::2]
for i in html_tags:
    html_tag_list.append(str(i).split('.asp">')[1][:-9])
for i in html_tag_list:
    temp_list = []
    temp_list.append(i.replace('&lt;','<'))
    for i in temp_list:
        html_tags_cleaned.append(i.replace('&gt;','>'))

In [5]:
html_tags = []
for i in html_tags_cleaned:
    temp_list = []
    temp_list.append(i[1:])
    for x in temp_list:
        html_tags.append('</' + x)

In [6]:
html_tags_clean = html_tags_cleaned + html_tags
html_tags_clean

['<!--...-->',
 '<!DOCTYPE><',
 '<a>',
 '<abbr>',
 '<acronym>',
 '<address>',
 '<applet>',
 '<area>',
 '<article>',
 '<aside>',
 '<audio>',
 '<b>',
 '<base>',
 '<basefont>',
 '<bdi>',
 '<bdo>',
 '<big>',
 '<blockquote>',
 '<body>',
 '<br>',
 '<button>',
 '<canvas>',
 '<caption>',
 '<center>',
 '<cite>',
 '<code>',
 '<col>',
 '<colgroup>',
 '<data>',
 '<datalist>',
 '<dd>',
 '<del>',
 '<details>',
 '<dfn>',
 '<dialog>',
 '<dir>',
 '<div>',
 '<dl>',
 '<dt>',
 '<em>',
 '<embed>',
 '<fieldset>',
 '<figcaption>',
 '<figure>',
 '<font>',
 '<footer>',
 '<form>',
 '<frame>',
 '<frameset>',
 '<h1> to <h6>',
 '<head>',
 '<header>',
 '<hr>',
 '<html>',
 '<i>',
 '<iframe>',
 '<img>',
 '<input>',
 '<ins>',
 '<kbd>',
 '<label>',
 '<legend>',
 '<li>',
 '<link>',
 '<main>',
 '<map>',
 '<mark>',
 '<meta>',
 '<meter>',
 '<nav>',
 '<noframes>',
 '<noscript>',
 '<object>',
 '<ol>',
 '<optgroup>',
 '<option>',
 '<output>',
 '<p>',
 '<param>',
 '<picture>',
 '<pre>',
 '<progress>',
 '<q>',
 '<rp>',
 '<rt>',
 '<ruby>',
 '<s>',
 '<samp>',
 '<script>',
 '<section>',
 '<select>',
 '<small>',
 '<source>',
 '<span>',
 '<strike>',
 '<strong>',
 '<style>',
 '<sub>',
 '<summary>',
 '<sup>',
 '<svg>',
 '<table>',
 '<tbody>',
 '<td>',
 '<template>',
 '<textarea>',
 '<tfoot>',
 '<th>',
 '<thead>',
 '<time>',
 '<title>',
 '<tr>',
 '<track>',
 '<tt>',
 '<u>',
 '<ul>',
 '<var>',
 '<video>',
 '<wbr>',
 '</!--...-->',
 '</!DOCTYPE><',
 '</a>',
 '</abbr>',
 '</acronym>',
 '</address>',
 '</applet>',
 '</area>',
 '</article>',
 '</aside>',
 '</audio>',
 '</b>',
 '</base>',
 '</basefont>',
 '</bdi>',
 '</bdo>',
 '</big>',
 '</blockquote>',
 '</body>',
 '</br>',
 '</button>',
 '</canvas>',
 '</caption>',
 '</center>',
 '</cite>',
 '</code>',
 '</col>',
 '</colgroup>',
 '</data>',
 '</datalist>',
 '</dd>',
 '</del>',
 '</details>',
 '</dfn>',
 '</dialog>',
 '</dir>',
 '</div>',
 '</dl>',
 '</dt>',
 '</em>',
 '</embed>',
 '</fieldset>',
 '</figcaption>',
 '</figure>',
 '</font>',
 '</footer>',
 '</form>',
 '</frame>',
 '</frameset>',
 '</h1> to <h6>',
 '</head>',
 '</header>',
 '</hr>',
 '</html>',
 '</i>',
 '</iframe>',
 '</img>',
 '</input>',
 '</ins>',
 '</kbd>',
 '</label>',
 '</legend>',
 '</li>',
 '</link>',
 '</main>',
 '</map>',
 '</mark>',
 '</meta>',
 '</meter>',
 '</nav>',
 '</noframes>',
 '</noscript>',
 '</object>',
 '</ol>',
 '</optgroup>',
 '</option>',
 '</output>',
 '</p>',
 '</param>',
 '</picture>',
 '</pre>',
 '</progress>',
 '</q>',
 '</rp>',
 '</rt>',
 '</ruby>',
 '</s>',
 '</samp>',
 '</script>',
 '</section>',
 '</select>',
 '</small>',
 '</source>',
 '</span>',
 '</strike>',
 '</strong>',
 '</style>',
 '</sub>',
 '</summary>',
 '</sup>',
 '</svg>',
 '</table>',
 '</tbody>',
 '</td>',
 '</template>',
 '</textarea>',
 '</tfoot>',
 '</th>',
 '</thead>',
 '</time>',
 '</title>',
 '</tr>',
 '</track>',
 '</tt>',
 '</u>',
 '</ul>',
 '</var>',
 '</video>',
 '</wbr>']

In [7]:
html_tags_cleaned
open_tags = []
for i in html_tags_cleaned:
    open_tags.append(i[:-1])

In [8]:
html_tags_clean = html_tags_clean + open_tags

In [9]:
len(html_tags_clean)

357

In [10]:
def clean_html_tags(script):
    for x in script:
        if x in html_tags_clean:
            script.replace(x, '')

# API Call to OMDB

##### Made call to omdbapi.com to get additional title information for data frame. This will help me build a better success or failure metric than just box office success. Used omdb_get function (code in functions folder of this repo) for 500 titles at a time. Any more and I would get a JSON error

In [30]:
film_desc = []

In [31]:
omdb_get(list(building_df['title'][:500]))

In [32]:
len(film_desc)

500

In [33]:
omdb_get(list(building_df['title'][500:1000]))

In [34]:
omdb_get(list(building_df['title'][1000:1500]))

In [35]:
omdb_get(list(building_df['title'][1500:2000]))

In [36]:
omdb_get(list(building_df['title'][2000:2500]))

In [39]:
omdb_get(list(building_df['title'][2500:3000]))

In [38]:
omdb_get(list(building_df['title'][3000:]))

In [29]:
pd.DataFrame(film_desc).drop_duplicates('Title')

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response,totalSeasons,Error
0,Pirates of the Caribbean: On Stranger Tides,2011,PG-13,20 May 2011,136 min,"Action, Adventure, Fantasy",Rob Marshall,"Ted Elliott (screenplay), Terry Rossio (screen...","Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, Ian...",Jack Sparrow and Barbossa embark on a quest to...,...,"469,834",tt1298650,movie,18 Oct 2011,"$241,063,875",Walt Disney Pictures,N/A,True,NaN,NaN
1,Avengers: Age of Ultron,2015,PG-13,01 May 2015,141 min,"Action, Adventure, Sci-Fi",Joss Whedon,"Joss Whedon, Stan Lee (based on the Marvel com...","Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",When Tony Stark and Bruce Banner try to jump-s...,...,"717,864",tt2395427,movie,02 Oct 2015,"$429,113,729",Walt Disney Pictures,N/A,True,NaN,NaN
2,Justice League,2017,PG-13,17 Nov 2017,120 min,"Action, Adventure, Fantasy, Sci-Fi",Zack Snyder,"Jerry Siegel (Superman created by), Joe Shuste...","Ben Affleck, Henry Cavill, Amy Adams, Gal Gadot",Fueled by his restored faith in humanity and i...,...,"366,384",tt0974015,movie,13 Mar 2018,"$227,032,490",Warner Bros. Pictures,N/A,True,NaN,NaN
3,Spectre,2015,PG-13,06 Nov 2015,148 min,"Action, Adventure, Thriller",Sam Mendes,"John Logan (screenplay by), Neal Purvis (scree...","Daniel Craig, Christoph Waltz, LÃ©a Seydoux, Ra...",A cryptic message from James Bond's past sends...,...,"373,270",tt2379713,movie,09 Feb 2016,"$208,777,731",Sony Pictures,N/A,True,NaN,NaN
4,Batman v Superman: Dawn of Justice,2016,PG-13,25 Mar 2016,151 min,"Action, Adventure, Sci-Fi",Zack Snyder,"Chris Terrio, David S. Goyer, Bob Kane (Batman...","Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei...",Fearing that the actions of Superman are left ...,...,"607,361",tt2975590,movie,19 Jul 2016,"$293,792,936",Warner Bros. Pictures,N/A,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,Request limit reached!
1067,Avatar,2009,PG-13,18 Dec 2009,162 min,"Action, Adventure, Fantasy, Sci-Fi",James Cameron,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",A paraplegic Marine dispatched to the moon Pan...,...,"1,095,138",tt0499549,movie,22 Apr 2010,"$749,700,000",20th Century Fox,N/A,True,NaN,NaN
1303,The Last Samurai,2003,R,05 Dec 2003,154 min,"Action, Drama, War",Edward Zwick,"John Logan (story), John Logan (screenplay), E...","Ken Watanabe, Tom Cruise, William Atherton, Ch...",An American military advisor embraces the Samu...,...,"388,736",tt0325710,movie,04 May 2004,"$111,000,000",Warner Bros. Pictures,N/A,True,NaN,NaN
1343,Stuart Little 2,2002,PG,19 Jul 2002,77 min,"Animation, Adventure, Comedy, Family, Fantasy",Rob Minkoff,"E.B. White (characters from the book ""Stuart L...","Michael J. Fox, Geena Davis, Hugh Laurie, Jona...",Stuart and Snowbell set out across town to res...,...,"48,900",tt0243585,movie,10 Dec 2002,"$64,736,114",Columbia Pictures,N/A,True,NaN,NaN
1350,Avengers: Endgame,2019,PG-13,26 Apr 2019,181 min,"Action, Adventure, Drama, Sci-Fi","Anthony Russo, Joe Russo","Christopher Markus (screenplay by), Stephen Mc...","Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",After the devastating events of Avengers: Infi...,...,"730,943",tt4154796,movie,30 Jul 2019,N/A,Marvel Studios,N/A,True,NaN,NaN