In [12]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [11]:
all_films = pd.read_csv('all_films.csv', index_col= 'Unnamed: 0')
all_films

,title,year,production_budget,domestic_gross,worldwide_gross,profit,ROI,success
0,Avengers: Endgame,2019,400000000,858373000,2797800564,2397800564,5.99,1
1,Pirates of the Caribbean: On Stranger Tides,2011,379000000,241063875,1045663875,666663875,1.76,1
2,Avengers: Age of Ultron,2015,365000000,459005868,1396099202,1031099202,2.82,1
3,Star Wars Ep. VII: The Force Awakens,2015,306000000,936662225,2068223624,1762223624,5.76,1
4,Avengers: Infinity War,2018,300000000,678815482,2048359754,1748359754,5.83,1
...,...,...,...,...,...,...,...,...
5867,"20,000 Leagues Under the Sea",2013,200000,8000000,8000000,7800000,39.00,1
5868,Swingers,2000,200000,4505922,6618578,6418578,32.09,1
5899,She's Gotta Have It,2010,175000,7137502,7137502,6962502,39.79,1
5908,Sweet Sweetback's Baad Asssss Song,2015,150000,15200000,15200000,15050000,100.33,1
5909,Once,2012,150000,9445857,23151277,23001277,153.34,1

In [17]:
driver = webdriver.Safari()
driver.get("https://www.imsdb.com/")
elem = driver.find_element_by_name("search_query")
elem.clear()
elem.send_keys("avengers")
elem.send_keys(Keys.RETURN)
assert "No results found." not in driver.page_source
#driver.close()